extends layout

block content
  .container
    h1 Blockchain Demo
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    br
    p.pull-right by 
      a(href='http://andersbrownworth.com/') Anders Brownworth
