extends layout

block content
  .container
    h1 Do Zero ao Blockchain
    .cover
      img(src='https://udemy-images.udemy.com/course/480x270/1871764_2855.jpg' width='70%')
    p.pull-right 
      a(href='http://reginaldosantos.com.br/') Reginaldo Santos
      
